repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-merge-conflict
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.45.0"
    hooks:
      - id: eslint
        additional_dependencies:
          - eslint@^8.45.0
          - eslint-config-prettier@^8.9.0
          - eslint-plugin-libram@^0.2.32
        files: \.[jt]sx?$ # *.js, *.jsx, *.ts and *.tsx
        types: [file]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@^3.0.0
