#garbageCollectorContainer {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#notificationsContainer {
  position: absolute;
  width: 100%;
}

img {
  display: block;
  margin: auto;
}

input.interrupt {
  width: 100%;
  border-color: darkred;
  background-color: #f1948a;
  color: darkred;
  margin: 10px 0px;
}

input[type="submit"] {
  margin: auto;
  display: block;
  font-size: x-large;
  padding: 5px 25px;
  border-radius: 10px;
}

.notification {
  border: 3px solid #00529b;
  background-color: #bde5f8;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  border-radius: 40px;
  color: #00529b;
  padding: 7px 60px;
  animation: 2s fadeOut 5s 1 forwards;
  cursor: pointer;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
  }
}

td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

